html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}
#title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  height: 32px;
  line-height: 32px;
  background-color: #3a3a3a;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  #title-bar #title {
    position: absolute;
    top: 0px;
    left: 6px;
    color: #fff; }
  #title-bar #title-bar-btns {
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0px;
    right: 6px; }
    #title-bar #title-bar-btns button {
      line-height: 0px;
      height: 32px;
      background-color: transparent;
      border: none;
      color: #F1F1F1;
      font-size: 14px;
      padding: 0 3px;
      -webkit-transition: 0.2s;
           -o-transition: 0.2s;
              transition: 0.2s; }
      #title-bar #title-bar-btns button:hover {
background: rgba(255, 255, 255, 0.1); }
